@import url("https://fonts.googleapis.com/css?family=Monserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  animation: about 1s ease-in forwards;
}

@keyframes about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clip5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left top,
    #855104,
    #7a5500,
    #6e5800,
    #635a04,
    #585c0c
  );
  -webkit-clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
  position: absolute;
  opacity: 0.4;
}
.grid {
  padding-top: 6%;
  padding-left: 25%;
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-rows: repeat(5, 20%);
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
}
.grid h4 {
  color: #855104;
  grid-row: 1/1;
  grid-column: 1 / span 2;
}
.grid img:nth-of-type(1) {
  grid-row: 2;
  grid-column: 1;
}
.grid img:nth-of-type(2) {
  grid-row: 3;
  grid-column: 1;
}
.grid img:nth-of-type(3) {
  grid-row: 4;
  grid-column: 1;
}
.grid img:nth-of-type(4) {
  grid-row: 5;
  grid-column: 1;
}
.grid p {
  line-height: 20px;
  font-size: 1em;
  color: #855104;
}
.grid p:nth-of-type(1) {
  grid-row: 2;
  grid-column: 2;
}
.grid p:nth-of-type(2) {
  grid-row: 3;
  grid-column: 2;
}
.grid p:nth-of-type(3) {
  grid-row: 4;
  grid-column: 2;
}
.grid p:nth-of-type(4) {
  grid-row: 5;
  grid-column: 2;
}
@media screen and (max-width: 600px) {
  .grid {
    padding-top: 6%;
    padding-left: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 10%);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
  }
  .clip5 {
    display: none;
  }
  .grid h4 {
    font-size: 0.8em;
  }
  .grid p {
    text-align: center;
    font-size: 0.6em;
    padding-bottom: 5%;
    padding-right: 25px;
  }
  .grid img {
    text-align: center;
    padding-bottom: 2%;
  }
  .grid p:nth-of-type(1) {
    padding-top: 2%;
    grid-row: 3;
    grid-column: 1;
  }
  .grid p:nth-of-type(2) {
    grid-row: 5;
    grid-column: 1;
  }
  .grid p:nth-of-type(3) {
    grid-row: 7;
    grid-column: 1;
  }
  .grid p:nth-of-type(4) {
    grid-row: 9;
    grid-column: 1;
  }
  .grid img:nth-of-type(1) {
    padding-top: 4%;
    grid-row: 2;
    grid-column: 1;
  }
  .grid img:nth-of-type(2) {
    grid-row: 4;
    grid-column: 1;
  }
  .grid img:nth-of-type(3) {
    grid-row: 6;
    grid-column: 1;
  }
  .grid img:nth-of-type(4) {
    grid-row: 8;
    grid-column: 1;
  }
}
@media only screen and (min-width: 321px) {
  .clip5 {
    display: none;
  }
  .grid p {
    padding-left: 20px;
  }
}
