@import url("https://fonts.googleapis.com/css?family=Monserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  animation: exibitions 1s ease-in forwards;
}

@keyframes exibitions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clip6 {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to right top,
    #fa261a,
    #f93524,
    #f8412c,
    #f74b35,
    #f5543d
  );
  z-index: -1;
  opacity: 0.4;
  position: absolute;
}
.contact_details {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}
.contact_details p {
  padding-bottom: 5px;
  font-size: 0.9em;
  font-weight: 300;
  color: #262626;
}
.contact_details p:nth-of-type(1) {
  padding-top: 6px;
}
.contact_details p a {
  color: #262626;
  font-weight: bold;
}
.contact_details img {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
  box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
}
@media screen and (max-width: 600px) {
  .clip6 {
    display: none;
  }
  .contact_details {
    top: 14%;
    left: 55%;
  }
  .contact_details img {
    width: 100%;
    height: 100%;
  }
}
