@import url("https://fonts.googleapis.com/css?family=Bitter");

* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", sans-serif;
}

.detail {
  width: 100%;
  height: 100vh;
  background-color: #1b085f;
  background-image: url("../images/blu-stripes.png");
}

.clip3 {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to right top,
    #999907,
    #aeb105,
    #c2cb03,
    #d7e401,
    #ebff00
  );
  z-index: -1;
  opacity: 0.4;
}
.minus {
  position: absolute;
  top: 26.3%;
  left: 35%;
  transform: translate(-35%, -26.3%);
  width: 30px;
  height: 30px;
  background-color: #999907;
  color: #262626;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid #d7e401;
  cursor: pointer;
}
.plus {
  position: absolute;
  top: 26.3%;
  left: 64.9%;
  transform: translate(-64.9%, -26.3%);
  width: 30px;
  height: 30px;
  background-color: #999907;
  color: #262626;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid #d7e401;
  cursor: pointer;
}
.detail img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid transparent;
  border-image: url("../images/border2.fw.png") 20 stretch;
}
.title {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 340px;
  transform: translate(-50%, -20%);
  font-size: 1em;
  color: #999907;
  text-align: center;
}
.description {
  position: absolute;
  top: 27.7%;
  left: 90%;
  width: 340px;
  transform: translate(-90%, -27.7%);
  font-size: 1em;
  color: #999907;
  text-align: center;
}
