@import url("https://fonts.googleapis.com/css?family=Monserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Moonserrat", sans-serif;
}

.detail {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  animation: detail 1s ease-in forwards;
}

@keyframes detail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-2%, -70%);
}

.clip3 {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to right top,
    #999907,
    #aeb105,
    #c2cb03,
    #d7e401,
    #ebff00
  );
  z-index: -1;
  opacity: 0.4;
  position: absolute;
}
.container h6 {
  padding-bottom: 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #262626;
}
.container p {
  width: 50%;
  padding-top: 5px;
  font-size: 0.8em;
  color: #262626;
}
.image_container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.image_container img {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(2, 37, 24, 1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(2, 37, 24, 1);
  box-shadow: 4px 4px 4px 0px rgba(2, 37, 24, 1);
}
/* @media screen and (max-width: 600px) {
  .clip3 {
    display: none;
  }
  .container {
    width: 170px;
    top: 35%;
    left: 40%;
    transform: translate(-35%, -40%);
    padding-bottom: 5%;
  }
  .image_container {
    top: 60%;
    left: 50%;
  }
  .container h6 {
    font-size: 0.8;
    text-align: center;
  }
  .container p {
    text-align: center;
    width: 100%;
  }
  .image_container img {
    padding-top: 10%;
    width: 100%;
    height: 100%;
  }
} */
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .clip3 {
    display: none;
  }
  .container {
    width: 170px;
    top: 20%;
    left: 40%;
    transform: translate(-20%, -40%);
    padding-bottom: 5%;
  }
  .image_container {
    top: 60%;
    left: 55%;
  }
  .container h6 {
    font-size: 0.8;
    text-align: center;
  }
  .container p {
    text-align: center;
    width: 100%;
  }
  .image_container img {
    padding-top: 10%;
    width: 80%;
    height: 80%;
  }
}
