@import url('https://fonts.googleapis.com/css?family=Gayathri:100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}

.detail {
  width: 100%;
  height: 100vh;
  background-color: #e7e7f3;
  animation: detail 1s ease-in forwards;
}

@keyframes detail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-2%, -70%);
}

.container h6 {
  padding-bottom: 15px;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(56, 18, 17, 0.8);
}
.container p {
  width: 50%;
  padding-top: 5px;
  font-size: 0.7em;
  color: rgba(56, 18, 17, 0.8);
}
.image_container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.image_container img {
  cursor: pointer;
  /* height: 640px;
  width: 640px; */
}
@media screen and (max-width: 600px) {
  .container {
    width: 170px;
    top: 35%;
    left: 40%;
    transform: translate(-35%, -40%);
    padding-bottom: 5%;
  }
  .image_container {
    top: 60%;
    left: 50%;
  }
  .container h6 {
    font-size: 0.7;
    text-align: center;
  }
  .container p {
    font-size: 0.6;
    text-align: center;
    width: 100%;
  }
  .image_container img {
    padding-top: 10%;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .container {
    width: 170px;
    top: 20%;
    left: 40%;
    transform: translate(-20%, -40%);
    padding-bottom: 5%;
  }
  .image_container {
    top: 50%;
    left: 55%;
  }
  .container h6 {
    font-size: 0.8;
    text-align: center;
  }
  .container p {
    text-align: center;
    width: 100%;
  }
  .image_container img {
    padding-top: 10%;
    width: 80%;
    height: 80%;
  }
}
