@import url('https://fonts.googleapis.com/css?family=Gayathri:100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}

.exhibitions {
  width: 100%;
  height: 100vh;
  background-color: #e7e7f3;
  animation: exhibitions 1s ease-in forwards;
}

@keyframes exhibitions {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.paragraphs {
  padding-top: 0.5%;
  padding-left: 20%;
}

.paragraphs p {
  padding: 5px;
  font-size: 0.7em;
  color: rgba(56, 18, 17, 0.8);
  line-height: 10px;
  width: 40%;
}

.paragraphs p span {
  font-size: 1em;
  color: #3b558f;
  font-weight: bold;
  padding-right: 4px;
}

#indent {
  padding-left: 36px;
  /* background-color: #ffffff; */
}

.paragraphs img {
  position: absolute;
  top: 0.5%;
  left: 50%;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .exhibitions {
    height: auto;
  }
  .paragraphs {
    padding-top: 3%;
    padding-left: 35%;
  }

  .paragraphs img {
    display: none;
  }

  #indent {
    background-color: transparent;
  }

  .paragraphs p {
    font-size: 0.7em;
    padding: 6px 5px;
  }

  .paragraphs p span {
    font-size: 0.9em;
    padding: 0 10px 5px 0;
  }
}
