@import url("https://fonts.googleapis.com/css?family=Bitter");

* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #262626;
  background-image: url("../images/blu-stripes.png");
}

.images {
  text-align: center;
  flex-grow: 1;
}
.images ul {
  padding: 60px 250px 10px 250px;
}
.images ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 5px 0 5px;
}
.images img {
  border: 10px solid transparent;
  border-image: url("../images/border2.fw.png") 20 stretch;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
  box-shadow: 4px 4px 4px 0px rgba(38, 38, 38, 1);
}
.images ul li p {
  color: #fff;
  font-size: 0.7rem;
  width: 100px;
  padding: 5px 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
