@import url('https://fonts.googleapis.com/css?family=Gayathri:100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #e7e7f3;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 20px 0 200px;
}

.gallery img {
  padding: 5px 5px 0 5px;
}

/*Mosaic gallery
 .gallery {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.gallery img {
  width: 100% !important;
  height: auto !important;
  transform: scale(0.95);
  animation: gallery 2s linear forwards;
} */

@keyframes gallery {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery img:hover {
  filter: brightness(110%);
}

/* @media (max-width: 1200px) {
  .gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  .gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
} */
