@import url("https://fonts.googleapis.com/css?family=Monserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: home 1s ease-in forwards;
}

@keyframes home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clip1 {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(98% 98%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to right top,
    #262626,
    #343333,
    #424141,
    #504f4e,
    #5e5e5c
  );
  z-index: -1;
  opacity: 0.4;
}
.home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
.home h1:hover {
  color: #262626;
}
