* {
  margin: 0;
  padding: 0;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 2px solid #e64b0e;
  border-bottom: 2px slid transparent;
  animation: spin 0.7 linear infinite;
}

@keyframes {
  to {
    transform: rotate(360deg);
  }
}
