* {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.App-header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.api {
  position: relative;
  top: 10%;
  font-size: 2rem;
  color: white;
}

.images {
  position: absolute;
  top: 15%;
  text-align: center;
}

.images ul li {
  list-style: none;
  display: inline-block;
  padding: 1%;
}

.images img {
  border: 3px solid #fff;
  border-radius: 5px;
}
