@import url("https://fonts.googleapis.com/css?family=Bitter");

* {
  margin: 0;
  padding: 0;
  background-color: #262626;
  font-family: "Bitter", sans-serif;
}

.App-header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.images {
  position: absolute;
  top: 15%;
  text-align: center;
}

.images ul {
  display: inline-block;
  padding: 1%;
}

.images ul li {
  list-style: none;
  padding: 1%;
  border: 3px solid #fff;
  border-radius: 5px;
}

.images img {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.images ul li p {
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  width: 100px;
  padding-top: 2px;
  padding-bottom: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
